aclocal.m4
Makefile
Makefile.in
configure
missing
install-sh
config.status
tilt00.jpg
tmp*.png
thb*.png
gridcalib?.*
grid?.png
cal?.*
grid.pov
hist3d.pov
tensor
cbreakdown
ranges
*.out
*.pstex_t
*.bbl
*.blg
*.ind
*.idx
*.ilg
*.cache
*.tar.bz2
*.log
*.aux
*.pdf
*.eps
*.bof
*.lol
*.lof
*.lot
*.tpt
*.toc
*.xpmi
